.Weather {
  border: 1px solid black;
  padding: 20px;
  margin: 30px auto;
  border-radius: 4px;
  max-width: 1200px;
}
.Weather form {
  margin-top: 10px;
}
.Weather h1 {
  display: block;
  font-size: 50px;
  margin-top: 20px;
}
.Weather h4 {
  display: block;
  font-size: 16px;
}
.Weather h2 {
  font-size: 100px;
  text-align: left;
  margin: 0 20px;
}
.Weather ul.hi-low {
  margin: 0 20px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.hi-low li {
  padding: 0 10px;
  list-style: none;
  font-size: 20px;
}
.Weather p {
  text-align: left;
  margin: 0;
  padding: 0;
}
.Weather .units {
  position: relative;
  top: -100px;
  left: -155px;
  font-size: 24px;
  font-weight: bold;
}

.Weather .feel {
  float: left;
  margin: -10px 20px;
  font-size: 20px;
}
.Weather img {
  height: 150px;
}
.Weather .description {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: -30px;
}
